@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    
    font-family: 'Roboto', sans-serif;
    background: #EDEDED;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

strong {
    font-weight: 400;
}

form {
    margin: 0 0 20px;
    width: 50%;
    float: left;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.control-group {
    margin-bottom: 10px;
}

input,textarea {
    display: inline-block;
    float: none;
    min-height: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;
    background-color: #DDDDDD;    
    border: 1px solid #A3A3A3;    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
    color: #fff;
    padding: 7px 8px;
    margin-bottom: 2px;
    font-family: inherit;
    font-weight: 200;
}

button {
    width: 100%;
    padding: 7px 0px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
    background: #404040;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    transition: background .5s ease;
}

button:hover {
    background: #303030;
}


::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { 
   color: #000;  
}

::-moz-placeholder { 
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

.box {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.box .box-inner {
    display: table-cell;
    vertical-align: middle;
}

.row {
    margin: 0 -10px;
    position: relative;
}

.sections {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 {
    padding: 0px 10px;
    float: left;
    /* min-height: 100%; */
    position: relative;
    overflow: hidden;
}
.span-1 {
    width: 8.33333333%;
}

.span-2 {
    width: 16.66666667%;
}

.span-3 {
    width: 25%;
}

.span-4 {
    width: 33.33333333%;
}

.span-5 {
    width: 41.66666667%;
}

.span-6 {
    width: 50%;
}

.span-7 {
    width: 58.33333333%;
}

.span-8 {
    width: 66.66666667%;
}

.span-9 {
    width: 75%;
}

.span-10 {
    width: 83.33333333%;
}

.span-11 {
    width: 91.66666667%;
}

.span-12 {
    width: 100%;
}

span.ex {
    font-weight: 100;
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
    display: block;
    margin: 10px 0px 5px;
    color: #575757;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
}


/* Start Navigation */

.nav {
    position: relative;
    transition: all .5s ease;
        -webkit-transition: all .5s ease;
    z-index: 15;
}

.nav-menu {
    color: #000;
    overflow: hidden;
    position: fixed;
    display: none;
    background: url('../img/stripe_2.png') repeat;
    z-index: 12;
    white-space: nowrap;
}

.nav-menu ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    -webkit-transition: letter-spacing .35s ease-in;
    transition: letter-spacing .35s ease-in;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
}

.nav-menu ul {
    padding: 0;
    margin: 30px 0;
    text-align: center;
    position: relative;
    text-transform: lowercase;
}

.nav-menu ul li a:hover {
    letter-spacing: 10px;
}

.nav-menu .box {
    padding: 20px 0px;
}

h3.title,
h4.job-title,
a.email,
a.phone {
    color: #fff;
    font-weight: lighter;
    text-align: center;
}

h3.title {
    font-size: 22px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin: 10px 37px 5px;
}

h4.job-title {
    font-size: 15px;
}

a.email,
a.phone {
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    transition: text-decoration .5s ease;
        -webkit-transition: text-decoration .5s ease;
    text-transform: lowercase;   
    font-size: 13px; 
}

a.phone {
    margin-top: 4px;
}

a.email:hover,
a.phone:hover {
    text-decoration: line-through;
}

.copywrite {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copywrite p {
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    background: #000;
    background: rgba(255, 255, 255, 0);
    color: #373737;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    transition: all.5s ease;
    -webkit-transition: left .5s ease;
    z-index: 12;
}

.logo.clicked {
    left: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background: rgba(221, 221, 221, 0.34);
}

.logo .menu {
    display: block;
    position: relative;
    color: #000;
    cursor: pointer;
    background: #000;
    background: url('../img/stripe_1.png') repeat;
    padding: 0px 10px 10px;
    position: absolute;
    width: 50px;
}

.nav-menu.toggle {
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

span.line {
    height: 1px;
    width: 40px;
    background: #000;
    display: inline-block;
    line-height: 1px;
    position: relative;
}

.logo.clicked .line:nth-child(1) {
    transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
    width: 20px;
    top: 10px;
    left: -13px;
}

.logo.clicked .line:nth-child(3) {
    transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
    width: 20px;    
    top: -10px;    
    left: -13px;
}

.logo.clicked .line {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.nav-menu ul.social {
    margin: 30px 30px 0;
    display: table;
    margin: 30px auto 0;
}

.nav-menu ul.social li {
    display: table-cell;
}

.nav-menu ul.social li a {
    transition: none;
    letter-spacing: 0px;
    font-weight: lighter;
}

/* End Navigation */

/* Start Section */

#section #about, #section #works, #section #contact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    text-align: center;
}

.works #section li,
.about #section li,
.contact #section li {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
    animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

#section #about {
    background: #ddd url('../assets/img/bg1.jpg') 100% 100% no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    opacity: 1;
    /* text-align: center; */
}

#section #works {
    background: #ddd url('../assets/img/bg2.jpg') center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    background: #ddd;
}

#section #works .span-3 {
    height: 100%;
    border: 2px dashed #000;
    border-bottom: none;
    max-height: 100%;
    border-top: none;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#section #works .row div:nth-child(1) {
    left: 0;
    border-right: none;
}

#section #works .row div:nth-child(2) {
    left: 25%;
    border-right: none;
}

#section #works .row div:nth-child(3) {
    left: 50%;
    border-right: none;
}

#section #works .row div:nth-child(4) {
    left: 75%;
}

#section #works .row .project .project-box,
#section #works .row .project .project-box .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
}

#section #works .row .project .project-box .img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#section #works .row .project .project-box .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#section #works .row .project .project-box .info {
    background: #333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    transform: scale(0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      border-radius: 50%;
        -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
}

#section #works .row .project .project-box .info h3 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 140px;
    text-shadow: 0 0 1px #FFF, 0 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 100;
}

#section #works .row .project .project-box a:hover .info {
    opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    transform: scale(1);
}

#section #works .row .project .project-box .info p {
    color: #BBB;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#section #contact {
    background: #ddd url('../assets/img/bg3.jpg') center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
}

.contact-me {
    width: 50%;
    float: left;
}

.contact-me a.email, 
.contact-me a.phone {
    font-size: 25px;
    color: #000;
    line-height: 100%;
}

ul.social {
    position: relative;
    display: table;
    width: 120px;
    margin: 10px auto 0px;
}

#section ul.social li {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    opacity: 1;
    display: table-cell;
}

#section ul.social li a {
    color: #515151;
    font-size: 30px;
    transition: color .5s ease;
}

#section ul.social li a:hover {
    color: #000;
}

#contact p {
    margin-bottom: 20px;
}

#about h2 {
    margin-bottom: 30px;
}

.skills,
.tools {
    margin-top: 60px;
}

.skills ul,
.tools ul {
    display: table;
    width: 90%;
    margin: 0px auto;
}

#section .skills li,
#section .tools li {
    position: relative;
    left: auto;
    bottom: auto;
    top: auto;
    right: auto;
    opacity: 1;
    display: table-cell;
    vertical-align: middle;
}

#section .skills li img,
#section .tools li img {
    width: 75px;
}
#section .skills li a,
#section .tool li a {
    display: inline-block;
    vertical-align: bottom;
}

#works ul {
    display: table;
    width: 100%;
}

#works ul li {
    display: table-cell;
}

#works h1 {
    font-weight: 200;
    margin-bottom: 40px;
}

ul.project {
    margin-bottom: 125px;
}

ul.related-projects {
    margin-bottom: 15px;
}

ul.related-projects li img {
    width: 90px;
}



/* End Section */

/* Start Media Queries */

@media (min-width: 1200px) {
    .sections {
        width: 1170px;
    }
}

/* End Media Queries */